@model ProyectoWEB1.Models.tblArchivoProyecto

@{
    ViewBag.Title = "Editar";
}

<h2>Editar Proyecto</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdArchivoProyecto)

        <div class="form-group">
            @Html.LabelFor(model => model.NombreArchivo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreArchivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreArchivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoConstruccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoConstruccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoConstruccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Fecha",(string)ViewBag.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.PrecioTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PrecioTotal, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>*@
        @*@ViewBag.IdArchivoProyecto*@
        <div class="form-group">
            @Html.Label("Materiales", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ActionLink("Agregar Materiales", "Create","Rompimientos", new { id = ViewBag.IdArchivoProyecto}, null)
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.Label("Material")
                </th>
                <th>
                    @Html.Label("Cantidad")
                </th>
                <th>
                    @Html.Label("Subtotal")
                </th>
                <th></th>
            </tr>
            @foreach (var item in @Model.tblArchivoProyecto_Materiales)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.tblMateriales.NombreMaterial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioParcial)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", "Rompimientos", new { id = item.IdArchivoProyecto_Materiales, id2 = ViewBag.IdArchivoProyecto }, null) |
                        @Html.ActionLink("Eliminar", "Delete", "Rompimientos", new { id = item.IdArchivoProyecto_Materiales, id2 = ViewBag.IdArchivoProyecto }, null)
                    </td>
                </tr>
            }
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
